<!-- <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Login</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid email or password.</div>
    <br/>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" ngModel class="form-control" placeholder="User Name" required autofocus>
    <br/>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</form> -->

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>User Login</mat-card-title>
    </mat-card-header>

    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="alert alert-danger" *ngIf="invalidLogin">Invalid email or password.</div>
      <mat-card-content>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput placeholder="Email" type="email" id="email" name="email" ngModel required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" id="password" name="password" ngModel required>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" type="submit">Login</button>

    </form>
  </mat-card>
</div>
