<div class="main-wrapper">
  <article class="blog-post px-3 py-5 p-md-5">
      <div class="container single-col-max-width">
          <header class="blog-post-header" style="text-align: center;margin-top: 200px;">
              <h2 class="title mb-2" style="font-size: 400%;">404 Not Found</h2>
              <p class="meta mb-3" style="    font-size: 250%;margin-top: 50px;">Page Not Found</p>
              <a [routerLink]="['/',backUrl]" routerLinkActive="router-link-active" style="margin-top: 50px;">Back to Home</a>
          </header>
      </div>
  </article>
</div>

