


<section class="w-97">
  <form [formGroup]="addPostForm" (submit)="createPost()" novalidate enctype="multipart/form-data">
      <mat-card class="example-card w-70 mt-10 fl">
          <mat-card-header>
              <mat-card-title class="uppercase">Add new post</mat-card-title>
          </mat-card-header>
      <p>
          <mat-form-field appearance="outline" class="w-97">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter post title" formControlName="Title">
            <mat-error
              *ngIf="!addPostForm.controls.Title?.valid && (addPostForm.controls.Title?.dirty
              ||addPostForm.controls.Title?.touched)">
              Post title is not valid
          </mat-error>
          </mat-form-field>
      </p>
      <p>
        <ckeditor [config]="{ removePlugins: [ 'image' ] }" [editor]="Editor" data="<p>Hello, world!</p>" formControlName="Body"></ckeditor>
        <mat-error
          *ngIf="!addPostForm.controls.Body?.valid && (addPostForm.controls.Body?.dirty
          ||addPostForm.controls.Body?.touched)">
          Post must have more than 50 chars
        </mat-error>
      </p>
      <div style="margin-bottom: 50px;overflow: hidden;">
          <div class="w-50 fl">
              <h4>Category</h4>
                  <mat-form-field appearance="outline">
                    <mat-label>Choose an option</mat-label>
                    <mat-select formControlName="CategoryId">
                      <mat-option *ngFor="let c of listCategories" value="{{c.categoryId}}">{{c.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-error
                      *ngIf="!addPostForm.controls.CategoryId?.valid && (addPostForm.controls.CategoryId?.dirty
                      ||addPostForm.controls.CategoryId?.touched)">
                      Please select Category
                  </mat-error>
          </div>
          <div class="w-50 fl">
              <h4>Author</h4>
              <mat-form-field appearance="outline">
                <mat-label>Author</mat-label>
                <input matInput [value]="this.authorDetails?.name" readonly>
              </mat-form-field>

          </div>

      </div>
          <button type="submit" mat-raised-button color="accent" [disabled]="!addPostForm.valid"><mat-icon>save</mat-icon> &nbsp; Publish <mat-spinner color="#fff" *ngIf="saving" [diameter]="25"></mat-spinner></button>
  </mat-card>
  <mat-card class="example-card w-23 mt-10 fr">
      <mat-card-header>
          <mat-card-title class="uppercase">Featured Image</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>
              <input type="file" onchange="document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0])" (change)="fileChanged($event)" formControlName="ImageName" required >
              <img class="img imgPreview" id="imgPreview">
          </p>
          <p style="display: none;">
              <input matInput placeholder="update" formControlName="UpdatedAt" required >
          </p>
      </mat-card-content>
  </mat-card>
  <mat-card class="example-card w-23 mt-10 fr">
      <mat-card-header>
          <mat-card-title class="uppercase">Availability</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>
              <mat-slide-toggle formControlName="Availability"> Published</mat-slide-toggle>
          </p>
      </mat-card-content>
  </mat-card>
  <mat-card class="example-card w-23 mt-10 fr">
      <mat-card-header>
          <mat-card-title class="uppercase">Published Date</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <p>
                <mat-form-field appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="CreatedAt" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
          </p>
      </mat-card-content>
  </mat-card>
  <mat-card class="example-card w-23 mt-10 fr">
    <mat-card-header>
        <mat-card-title class="uppercase">Related Tags</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-label>Add tags</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let fruit of fruits"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                {{fruit}}
                <button matChipRemove *ngIf="removable">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                matInput
                placeholder="New tag..."
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
    </mat-card-content>
  </mat-card>
  </form>
</section>


