<section class="w-97" *ngIf="authorDetails?.role == 'Admin'">
  <form [formGroup]="addAuthorForm" (submit)="createAuthor()" novalidate enctype="multipart/form-data">

    <mat-card class="example-card w-30 mt-10 fl">
      <mat-card-header>
          <mat-card-title class="uppercase">Add new author</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline" class="w-97" *ngIf="showId" aria-disabled="true" disabled style="cursor: not-allowed;">
          <mat-label style="cursor: not-allowed;">Id</mat-label>
          <input style="cursor: not-allowed;" matInput formControlName="Id" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-97">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter author name" formControlName="Name">
          <mat-error
            *ngIf="!addAuthorForm.controls.Name?.valid && (addAuthorForm.controls.Name?.dirty
            ||addAuthorForm.controls.Name?.touched)">
            Author name is not valid
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-97">
          <mat-label>About</mat-label>
          <textarea matInput placeholder="Enter author about" formControlName="About"></textarea>
          <mat-error
            *ngIf="!addAuthorForm.controls.About?.valid && (addAuthorForm.controls.About?.dirty
            ||addAuthorForm.controls.About?.touched)">
            Post title is not valid
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-97">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="Dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="!addAuthorForm.controls.Dob?.valid && (addAuthorForm.controls.Dob?.dirty
            ||addAuthorForm.controls.Dob?.touched)">
            Please enter a valid date of birth
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Choose an option</mat-label>
          <mat-select formControlName="Role">
            <mat-option value="Admin" >Admin</mat-option>
            <mat-option value="Author" >Author</mat-option>
          </mat-select>
          <mat-error
              *ngIf="!addAuthorForm.controls.Role?.valid && (addAuthorForm.controls.Role?.dirty
              ||addAuthorForm.controls.Role?.touched)">
              Please select user role
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-97">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter author email" formControlName="Email">
          <mat-error
            *ngIf="!addAuthorForm.controls.Email?.valid && (addAuthorForm.controls.Email?.dirty
            ||addAuthorForm.controls.Email?.touched)">
            Post email is not valid
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-97">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter login password" formControlName="Password" type="password">
          <mat-error
            *ngIf="!addAuthorForm.controls.Password?.valid && (addAuthorForm.controls.Password?.dirty
            ||addAuthorForm.controls.Password?.touched)">
            Post password is not valid
        </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" [disabled]="!addAuthorForm.valid"><mat-icon style="margin-top: 0;">save</mat-icon> &nbsp; <span *ngIf="showId">Update</span><span *ngIf="showId == false">Add Author</span> <mat-spinner color="#fff" *ngIf="saving" [diameter]="25"></mat-spinner></button>
        <button style="margin-left: 10px;" type="button" (click)="clearForm()" *ngIf="showClearBtn" mat-raised-button color="basic"><mat-icon style="margin-top: 0;">clear_all</mat-icon> &nbsp; Clear </button>
      </mat-card-content>

    </mat-card>
  </form>
  <mat-card class="example-card w-60 mt-10 fl ml-4p">
    <mat-card-header>
        <mat-card-title class="uppercase">List all author</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Id Column -->
        <ng-container matColumnDef="AuthorId">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.authorId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.name}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element" [innerHTML]="element.email"> ... </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element" style="width: 12%;"> <img class="img" src="{{getCommenterPic(element.email)}}" alt="{{element.name}}"> </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element" style="width: 18%;">
            <a (click)="editAuthor(element.authorId)">
              <button mat-fab color="primary" aria-label="delete icon" type="button">
                <mat-icon>edit</mat-icon>
              </button>
            </a>
            <a href="/author/{{element.name}}" target="_blank">
              <button mat-fab color="accent" aria-label=" delete icon" type="button">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-card>
        <mat-paginator [pageSizeOptions]="[3, 5, 10, 50]" [pageSize]="3" showFirstLastButtons></mat-paginator>
      </mat-card>
    </mat-card-content>
  </mat-card>
</section>
